EXPO_PUBLIC_POCKETBASE_URL=http://192.168.1.10:8090
# Optional custom animation URLs
# EXPO_PUBLIC_LOGIN_LOTTIE_URL=https://assets2.lottiefiles.com/packages/lf20_jcikwtux.json
# EXPO_PUBLIC_SIGNUP_LOTTIE_URL=https://assets10.lottiefiles.com/packages/lf20_touohxv0.json
